.food{
    height : 120px;
    width : 120px; 
    border-radius : 70px;
    /* border: 2px solid green; */
}
.food:hover{
    border-radius : 70px;
    border : 2px solid rgb(28, 220, 237);
}
.li-food:hover{
    color :rgb(28, 220, 237);
}
.li-food{
    list-style : None ;
}

.li-food figcaption{
    display : block;
}


.menu{
    display: grid;
    margin : 2rem;
  grid-template-columns: repeat(7, auto);
  grid-gap: 70px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content:center;
  margin-right: 1rem;
}

.food-link:hover{
    width : 100px;    
}

@media screen and (max-width : 1200px){
    .menu-active{
        display : flex;
        flex-direction : column;
        width : 100%;
        position: relative ;
        align-items: center;
        text-align: center;
    }
    
}