.food{
    height : 120px;
    width : 120px; 
    border-radius : 70px;
    /* border: 2px solid green; */
}
.food:hover{
<<<<<<< HEAD
    border-radius : 70px;
    border : 2px solid rgb(246, 149, 5);
}
.li-food:hover{
    color :rgb(255, 151, 5);
=======
    /* border-radius : 70px; */
    /* border : 2px solid rgb(28, 220, 237); */
}
.li-food:hover{
    /* color :rgb(28, 220, 237); */
    transform: scale(1.2);
>>>>>>> maste
}
.li-food{
    list-style : None ;
    /* display:flex; */
<<<<<<< HEAD
=======
    transition : transform 0.2s ease;
>>>>>>> maste
}

.li-food figcaption{
    display : block;
}
<<<<<<< HEAD
.menu-container ul{
    list-style: None;
}

.menu-container h2{
    text-align : left;
    padding-top : 2rem;
    padding-bottom : 1rem;

}
h1{
    text-align: left;
    padding-left : 180px;
    padding-top : 1rem;
}
.menu-container{
    /* width : 60%; */
    justify-content: center;
    /* text-align : center; */
    /* margin-left: 19rem; */
    align-self: center;
    margin-top : 2rem;
    padding-left : 200px;
    /* margin-bottom : 2rem; */
}
.snacks-menu{
    display: grid;
    /* margin : 3rem; */
    /* margin-top : 1.2rem; */
   
  grid-template-columns: repeat(3, auto);
  grid-gap: 37px;
  list-style: none;
  /* text-align: center; */
  width: 100%;
  justify-content:left;
  margin-right: 1rem;
  /* background : orange; */
}
.del-menu{
    
    display: grid;
    /* margin : 3rem; */
    /* margin-top : 1.2rem; */
   
  grid-template-columns: repeat(4, auto);
  grid-gap: 37px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content:left;
  margin-right: 1rem;
  /* background : orange; */
    
}
.beverages-menu{
    display: grid;
    /* margin : 3rem; */
    /* margin-top : 1.2rem; */
   
  grid-template-columns: repeat(3, auto);
  grid-gap: 37px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content:left;
  margin-right: 1rem;
  /* background : orange; */
}


.container_{
    display:flex;
=======

.containers{
    display:flex;
    margin : 1.3rem;

>>>>>>> maste
}

.menu{
    display: grid;
<<<<<<< HEAD
    /* margin : 3rem; */
    /* margin-top : 1.2rem; */
    padding-top:40px ;
    padding-bottom : 30px;
    padding-left : 50px;
  grid-template-columns: repeat(6, auto);
  grid-gap: 40px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content:center;
  margin-right: 1rem;
  background : orange;
  /* background-size :300px 500px; */
}


=======
    margin : 3rem;
    padding-left : 100px;
  grid-template-columns: repeat(1, auto);
  grid-gap: 60px;
  list-style: none;
  text-align: center;
  width: 90vw;
  justify-content:left;
  margin-right: 1rem;
}

.food-link:hover{
    width : 100px;    
}
>>>>>>> maste

@media screen and (max-width : 1200px){
    .menu-active{
        /* display : flex; */
        flex-direction : column;
<<<<<<< HEAD
        width : 100%;
        /* position: relative ; */
        /* align-items: left; */
        justify-content: left;
        text-align: center;
=======
        width : 20%;
        /* position: relative ; */
        /* align-items: left; */
        justify-content: left;
        text-align: left;
>>>>>>> maste
        margin : 1.2rem;
        padding-right : 300px;

    }
    
<<<<<<< HEAD
}
=======
}
>>>>>>> maste
